body{
  margin: 0px;
}
#Blog{
  border-top: 3.5px solid #7dcd40;
}
.encabezado{
 background-color: #273b47;
 display: flex;
 justify-content: space-between;
 position: relative;
 height: 57px;
}
.container{
  background-color: #273b47;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%
}

.enc-lista{
 display: inline-flex;
 margin-right: 20px;
 margin-top: -9px;
}
.enc-lista li{
  display: flex;
  content: none;
  align-items: center;
  margin: 10px;
  display: table;
}

.enc-lis-texto::after{
  content: "│";
}

.enc-lista a{
  text-decoration: none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  display: table-cell;
  vertical-align: middle;
  height: 58px;
  display: table-cell;
  vertical-align: middle;
}
.enc-lista a:hover{
  border-top: 3px solid #ff4842;
}

.enc-button{
  background-color: #ff4842;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 16px;
  padding: 3px;
  margin-right: 10px;
  border-bottom: 2.5px solid #d0272a;
  padding: 7px;
  transition: .2s;
}

.enc-button:active{
  transform: scale(.9);
}

.enc-logo{
  height: 27px;
  width: 220px;
  margin-top: 15px;
  margin-left: 9px;
}

#enc-izq{
  display: flex;
  margin-right: 15px;
}

#menu{
  display: flex;
  align-items: flex-start;

}

.icon-menu{
  background-image: url("../Imagenes/menu.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 48px;
  height: 48px;
  display: none;
  border-radius: 50%;
}
.background{
  background-image: url("../Imagenes/fondo.jpg");
  background-size: cover;
  color: #515151;
  height: 450px;
  display: flex;
  align-items: flex-end;
}

.port-presentacion{
  height: 200px;
  width: 500px;
  background-color:rgba(255,255,255,0.5);
  margin-bottom: 20px;
  margin-left: 10px;
}
.port-texto{
  color: #515151;
  font-size: 30px;
  text-align: center;
font-family: 'Nunito Sans', sans-serif;
}
.port-autor{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #515151;
  margin: 0px 20px;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 15px;
}
.port-aut-img{
  height: 46px;
  width: 50px;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: 8px;
}
.port-aut-texto{
  text-decoration: none;
  color: #515151;
  width: 200px;
  display: flex;
  align-items: baseline;
}

.port-aut-fecha{
  display: flex;
  align-items: flex-end;
  color: #515151;
}

#Cuerpo{
  max-width: 992px;
  margin: 0 auto;
}

.margin{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opcional{
  display: none !important;
}

.cuer-articulo{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:0 12.5px;
  margin-top: 20px
}
.cuer-articulo a{
  overflow: hidden;
}

.curp-art-imagen{
  width: 300px;
  height: 215px;
  transform:scale(1);
  transition: .9s;
  -ms-transition: all 500ms ease-in-out;

}
.curp-art-imagen:hover{
  transform:scale(1.2);
}

.cuerp-art-nombre{
  color: #515151;
  font-size: 1.17em;
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-decoration: none;
}

.cuer-art-autor{
display: flex;
justify-content: space-between;
border-top: 2px solid #b7b7b7;
font-family: 'Poiret One', cursive;
}
.cuer-art-aut-texto{
  text-decoration: none;
  color: black;
}

.cuer-art-aut-fecha{
  font-size: 14px;
}

#Numpag-cuerpo{
  display: flex;
  justify-content: center;
  margin: 22px 0;
}

.numpag-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #515151;
}

.botonpag{
  background-color: #DFDBDB;
  color: #515151;
  margin-left: 15px;
  border: 1px solid #b7b7b7;
  text-align: center;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.numpag-boton1{
  background-color: inherit;
  border: none;
}
.numpag-boton2-numpag{
  background-color: inherit;
  border: none;
}
.numpag-botonsiguente{
  width: 6em;
}
.numpag-botonultima{
  width: 8em;
}
.numpag-mas{
  display: none;
}

.footer-texto{
  background-color: black;
  display: flex;

  height: 300px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
}

.footer-img{
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 40px;

}
.footer-img-1, .footer-img-2{
  width: 60px;
  border-radius: 100%;

}
.footer-final{
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top:39px ;
}

/*pagina de noticias*/
.encabezado-contenido-not{
  position: fixed;
  width: 100%;
  margin-top: -41px;
  }

.Cuerpo-noticia{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
/*Iniciamos media-querys*/

@media screen and (max-width: 1200px) {
  .background{
    height: 450px;
  }

}

@media screen and (max-width: 974px) {
  .opcional{
    display: flex !important;
  }
  #menu{
    font-size: 13px;
  }
  /*portada*/
  .background{
    height: 300px;
  }
  .port-presentacion{
    height: auto;
    width: 355px;
  }
  .port-texto{
    font-size: 20px;
  }
  .port-autor{
    font-size: 13px;
  }
  .port-aut-img{
    height: 36px;
    width: 40px;
  }
  /*Cuerpo*/
  .cuer-articulo{
    width: 282px;
    margin: 12px 30px;
  }
  .curp-art-imagen{
    width: 100%;
  }
  .cuerp-art-nombre{
    font-size: 16px;
    margin-bottom: 14px;
  }
  .cuer-art-aut-texto, .cuer-art-aut-fecha{
    font-size: 12px;
  }
  /*Num de pag*/
  .numpag-text{
    font-size: 12px;
  }
  .botonpag{
    zoom: 0.7;
    margin-left: 20px;
  }
}

@media screen and (max-width: 800px)  {
  /*encabezado*/
  .container{
    background-color: #273b47;
   display: flex;
   justify-content: space-between;
   position: relative;
   height: 57px;

    width: 100%;
    position: fixed;
    z-index: 1;
  }
  #Blog{
    border: 0;
  }
  .enc-lista a:hover{
    border: 0;
  }
  .enc-lista{
    display: block;
    margin-left: -50px;
  }
  .enc-lis-texto::after{
    content: " ";
  }
  .enc-lista li{
    text-align: center;
    border-top: 1px solid gainsboro;
  }
  .enc-lista, .enc-lista li{
    width: 100%;
  }
  #menu{
    display: flex;
    width: 100%;
    height: 417px;
    flex-direction: column;
    align-items: center;

  }
  .menu{
    position: absolute;
    left: -100%;
    top:100%;
    transition: .3s;
    background-color:rgba(0, 0, 0, 0.85);

  }

  .icon-menu{
    display: block;
    margin-right: 20px;
    margin-top: 4px;
    transform: rotate(0deg);
    transition: .3s;
  }

  .icon-menu.active{
    transform: rotate(-90deg);
  }

  .menu.active{
    left: 0%;
    z-index: 1;
  }
/*Footer*/
.margen{
  font-size: 19px;
}
.footer-img{
  margin-top: 10px;
}
.footer-img-1, .footer-img-2 {
  width: 83px;
}
.footer-final{
  margin-top: 25px;
}
.footer-final h6{
  margin: 0;
}
}
@media screen and (max-width:500px) {
  /*encabezado*/

  #menu{
    height: calc(100vh - 57px);
    justify-content: space-between;
  }
  .enc-logo{
    width: 150px;
    height: 24px;
  }
  .enc-lista{
    height: 82%;
  }

  .enc-lista li{
  height: calc(89% / 5);
  }

  .enc-button{
    position: relative;
    bottom: 32px;
  }
  /*portada*/
  .background{
    height: 362px;
  }
  .port-presentacion{
    background-color: inherit;
    width:100%;
    margin-left: 0;
  }
  .port-autor{
    border-top: 3px double white;
  }
  .port-texto{
    font-size: 23px;
  }

  .port-texto, .port-aut-texto, .port-aut-fecha{
    color: aliceblue ;
  }
  .port-aut-img{
    width: 46px;
    height: 50px;
  }
  /*cuerpo*/
  .cuerp-art-nombre{
    font-size: 18px;
  }

  .botonpag, .numpag-text{
    display: none;
  }
  .numpag-mas{
    font-size: 25px;
    display: block;
    margin:0;
    width: 81%;
    background-color: #ff4842;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 16px;
    border: none;
    border-bottom: 8.5px solid #d0272a;
    padding-top: 18px;
    margin-bottom: 74px;
  }
  /*footer*/
  .footer-final{
    margin-top: 14px;
  }

}
